    <div class="row container-fluid m-0 p-0">
        <h1 class="col-12 text-center" id="ola">Productos agregados</h1>
        <div class="col-12 d-flex justify-content-center flex-wrap m-0 p-0" id="container">
            
        </div>
    </div>

<script src="/socket.io/socket.io.js"></script>
<script src="./js/index.js"></script>