<div class="text-center bodyyy">

    <div class="form-signin w-100 m-auto mainnn">
        <form id="registerForm">

            <h1 class="h3 mb-3 fw-normal">Registrate</h1>
            <div class="form-floating">
                <input name="first_name" class="form-control" placeholder="Nombre">
                <label for="floatingInput">Nombre</label>
            </div>
            <div class="form-floating">
                <input name="last_name" class="form-control" placeholder="Apellido">
                <label for="floatingInput">Apellido</label>
            </div>
            <div class="form-floating">
                <input name="email" class="form-control" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input name="age" class="form-control" placeholder="Edad">
                <label for="floatingInput">Edad</label>
            </div>
            <div class="form-floating">
                <input name="role" class="form-control" placeholder="Role">
                <label for="floatingInput">Role</label>
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            
            <input class="w-100 btn btn-lg btn-primary" type="submit" value="Registrate">

            <div class="checkbox mb-3">
                <label>
                    <p>¿Ya estás registrado? <a href="/login">Ingresa aquí</a></p>
                </label>
            </div>

        </form>
    </div>
</div>

<script src="/js/register.js"></script>