<div class="text-center bodyyy d-flex flex-column">
    <h1 class="h3 mb-3 fw-normal">Recupera tu contraseña</h1>
    
    <div class="form-signin w-100 m-auto mainnn">
        <div class="separador m-0 mb-3"></div>
        <form id="resetForm">
            <p data-token="{{token}}" id="token">Ingresa el nuevo password</p>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="floatingPassword"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <input class="w-100 btn btn-lg btn-primary mt-4" type="submit" value="Enviar">
        </form>
    </div>
</div>

<script src="/js/reset-pass.js"></script>